<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Set Favicon / How to load image in node js -->
  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
  <link rel="shortcut icon" href="/images/favicon.ico">
  <!-- Set Favicon -->

  <title>EDIT EMPLOYEE</title>

  <!-- Bootstrap core CSS -->
  <link href="/stylesheets/bootstrap4.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/stylesheets/starter-template.css" rel="stylesheet">
</head>

<body>

  <% include ./Components/menu %>

  <!-- Put your content here -->

  <main role="main" class="container">

    <div class="starter-template">
      <h1>Edit Employee Data</h1>
      <br><br>

      <!-- Insert data form -->
      <center>
        <form action="/home/edit_employee" method="post">
          <div class="col-md-6">

            <!-- This code to show message from flash message -->
            <% if(messages.info) { %>
            <%- messages.info %>
            <% } %>
            <!-- This code to show message from flash message -->

            <input type="hidden" name="_csrf" value="<%= csrfToken %>">

            <div class="form-group">
              <label for="username">NIK</label>
              <input type="text" class="form-control" name="nik" placeholder="Ex : 0441380718" 
              value="<%= data.nik %>" readonly minlength="10" maxlength="10">

            </div>

            <div class="form-group">
              <label for="nama">Nama</label>
              <input type="text" class="form-control" name="nama" placeholder="Ex : Bernand" 
              value="<%= data.nama %>" required minlength="3" maxlength="100">
            </div>

            <div class="form-group">
              <label for="jenis_kelamin">Jenis Kelamin</label>
              <select class="form-control" name="jk" required>
                <option value="">- Select Gender -</option>
                <option value="M"
                  <% if(data.jenis_kelamin == 'M') { %> <%= 'selected' %> <% } %>
                >Male</option>
                <option value="F"
                <% if(data.jenis_kelamin == 'F') { %> <%= 'selected' %> <% } %>
                >Female</option>
              </select>
            </div>

            <div class="form-group">
              <label for="divisi">Divisi</label>
              <input type="text" class="form-control" name="divisi" placeholder="Ex : IT Departement" 
              value="<%= data.divisi %>" required minlength="3" maxlength="100">
            </div>

            <div class="form-group">
              <label for="divisi">Department</label>
              <input type="text" class="form-control" name="department" placeholder="Ex : IT Application" 
              value="<%= data.department %>" required minlength="3" maxlength="100">
            </div>

            <div class="form-group">
                <label for="posisi">Posisi</label>
                <input type="text" class="form-control" name="posisi" placeholder="Ex : IT Application Junior Specialist" 
                value="<%= data.posisi %>" required minlength="3" maxlength="100">
            </div>

            <div class="form-group">
                <label for="cabang">Cabang</label>
                <input type="text" class="form-control" name="cabang" placeholder="Ex : Jakarta HQ" 
                value="<%= data.cabang %>" required minlength="3" maxlength="100">
            </div>

            <center><button type="submit" class="btn btn-primary center">Submit</button></center>
          </div>
        </form>
      </center>

      <!-- Insert data form -->


  </main><!-- /.container -->

  <% include ./Components/footer %>

  <!-- Put your javascript here -->
  <script src="/javascripts/jquery-3.2.1.slim.min.js"></script>
  <script>
    window.jQuery || document.write('<script src="/javascripts/jquery-slim.min.js"><\/script>')
  </script>
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap4.min.js"></script>
  <!-- Put your javascript here -->
</body>

</html>