<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Set Favicon / How to load image in node js -->
  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
  <link rel="shortcut icon" href="/images/favicon.ico">
  <!-- Set Favicon -->

  <title>HOME PAGE</title>

  <!-- Bootstrap core CSS -->
  <link href="/stylesheets/bootstrap4.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/stylesheets/starter-template.css" rel="stylesheet">
</head>

<body>

  <% include ./Components/menu %>

  <!-- Put your content here -->

  <main role="main" class="container">

    <div class="starter-template">
      <h1>Welcome</h1>
      <p class="lead"><b>
          <%= username %></b>, to home page.</p>
    </div>

  </main><!-- /.container -->

  <!-- Put your content here -->

  <% include ./Components/footer %>

  <!-- Put your javascript here -->
  <script src="/javascripts/jquery-3.2.1.slim.min.js"></script>
  <script>
    window.jQuery || document.write('<script src="/javascripts/jquery-slim.min.js"><\/script>')
  </script>
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap4.min.js"></script>
  <!-- Put your javascript here -->
</body>

</html>