<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Set Favicon / How to load image in node js -->
  <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
  <link rel="shortcut icon" href="/images/favicon.ico">
  <!-- Set Favicon -->

  <title>LIST EMPLOYEE</title>

  <!-- Bootstrap core CSS -->
  <link href="/stylesheets/bootstrap4.min.css" rel="stylesheet">
  <link href="/stylesheets/jquery.dataTables.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/stylesheets/starter-template.css" rel="stylesheet">
</head>

<body>

  <% include ./Components/menu %>

  <!-- Put your content here -->

  <main role="main" class="container">

    <div class="starter-template">
      <h1>List Data</h1>

      <!-- This code to show message from flash message -->
      <% if(messages.info) { %>
      <%- messages.info %>
      <% } %>
      <!-- This code to show message from flash message -->

      <br><br>
      <div class="table-responsive">

      <table id="data-table" class="display" style="width:100%">
        <thead>
          <tr>
            <th>No</th>
            <th>NIK</th>
            <th>Nama</th>
            <th>Jenis Kelamin</th>
            <th>Divisi</th>
            <th>Department</th>
            <th>Posisi</th>
            <th>Cabang</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>

          <!-- Showing all data using looping -->
          <% var i=1; data.forEach(function(value) { %>
          <tr>
            <td>
              <%- i++ %>
            </td>
            <td>
              <%= value.nik %>
            </td>
            <td>
              <%= value.nama %>
            </td>
            <td>
              <%= value.jenis_kelamin %>
            </td>
            <td>
              <%= value.divisi %>
            </td>
            <td>
              <%= value.department %>
            </td>
            <td>
              <%= value.posisi %>
            </td>
            <td>
              <%= value.cabang %>
            </td>
            <td><a href="/home/edit_employee/<%= value.nik %>" onclick="return confirm('Edit data ini?');">Edit</a>
              <br><br>
              <a href="/home/delete_employee/<%= value.nik %>" onclick="return confirm('Hapus data ini?');">Delete</a>
            </td>
          </tr>
          <% }); %>
          <!-- Showing all data using looping -->
        </tbody>
      </table>
      </div>
    </div>

  </main><!-- /.container -->

  <!-- Put your content here -->

  <% include ./Components/footer %>

  <!-- Put your javascript here -->
  <script src="/javascripts/jquery-3.2.1.slim.min.js"></script>
  <script>
    window.jQuery || document.write('<script src="/javascripts/jquery-slim.min.js"><\/script>')
  </script>
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap4.min.js"></script>
  <script src="/javascripts/jquery.dataTables.min.js"></script>

  <script type="text/javascript">
    $(document).ready(function () {
      $('#data-table').DataTable({
        responsive: true
      });
    });
  </script>
  <!-- Put your javascript here -->
</body>

</html>