<!doctype html>

<html>

<head>
    <title>LOGIN PAGE</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Set Favicon / How to load image in node js -->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <!-- Set Favicon -->

    <!-- Put your css here / How to load css in node js -->
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-theme.css' />
    <!-- Put your css here -->

</head>

<body>
    <form action="/login/do_login" method="post">
        <div class="col-md-4 col-md-offset-4">
            <h1 class="text-center">Please Login</h1>

            <!-- This code to show message from flash message -->
            <% if(messages.info) { %>     
                <%- messages.info %>
             <% } %>
            <!-- This code to show message from flash message -->
            
            <input type="hidden" class="form-control" name="_csrf" value="<%= csrfToken %>">

            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" name="username" placeholder="Username">

            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>

            <center><button type="submit" class="btn btn-primary center">Login</button></center>
        </div>
    </form>

    <!-- Put your javascript here / How to load javascript in node js-->
    <script src="/javascripts/jquery-3.3.1.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <!-- Put your javascript here -->
</body>

</html>